In [1]:
import requests
import json
import csv
import pandas as pd
import io

In [2]:
real_time_url = 'https://temporeal.pbh.gov.br?param=C'
conversion_table_url = 'https://ckan.pbh.gov.br/dataset/730aaa4b-d14c-4755-aed6-433cb0ad9430/resource/150bddd0-9a2c-4731-ade9-54aa56717fb6/download/bhtrans_bdlinha.csv'

## Real time dict

In [3]:
dict_url = 'https://ckan.pbh.gov.br/dataset/730aaa4b-d14c-4755-aed6-433cb0ad9430/resource/825337e5-8cd5-43d9-ac52-837d80346721/download/dicionario_arquivo_convencional.csv'

In [4]:
dict_resp = requests.get(dict_url).content
dict_data = pd.read_csv(io.StringIO(dict_resp.decode('latin1')), delimiter=';')
dict_data

         Nome_do_arquivo       tempo_real_convencional_xxx_ddmmaahhmmss.xxx
0   Descricao_do_arquivo  Última atualização da localização geográfica e...
1        Data_da_criacao             data da consulta/download pelo usuário
2          Nome_do_campo                                 descricao_do_campo
3                     EV  Código do evento. O evento 105 é um evento de ...
4                     HR  Data/hora: ano (4 caracteres), mês (2 caracter...
5                     LT                         Latitude em WGS84 fuso 23S
6                     LG                        Longitude em WGS84 fuso 23S
7                     NV                         Número de ordem do veículo
8                     VL                  Velocidade instantânea do veículo
9                     NL  Código do número de linha (arquivo de conversã...
10                    DG                                 Direção do veículo
11                    SV  Sentido do veículo em uma viagem ((1) ida, (2)...
12                    DT                               Distância percorrida

## Real time data

In [39]:
real_time_rsp = requests.get(real_time_url).content
real_time_data = pd.read_csv(io.StringIO(real_time_rsp.decode('utf-8')), delimiter=';')
real_time_data

,EV,HR,LT,LG,NV,VL,NL,DG,SV,DT
0,105,20220602213938,"-19,885983","-43,893619",20691,0,622,0.0,0.0,660.0
1,105,20220602213951,"-19,963887","-43,964215",30854,0,351,0.0,0.0,4168.0
2,105,20220602213820,"-19,860314","-43,956814",40825,22,380,152.0,1.0,17042.0
3,105,20220602214108,"-19,871207","-44,010590",40799,0,7121,0.0,0.0,437.0
4,105,20220602214110,"-19,870711","-44,010176",40463,0,326,0.0,0.0,7825.0
...,...,...,...,...,...,...,...,...,...,...
2148,105,20220602214036,"-19,886013","-43,893651",20787,0,5477,0.0,0.0,7450.0
2149,105,20220602214108,"-19,923263","-43,927431",20949,23,763,183.0,1.0,15198.0
2150,105,20220602213939,"-19,845679","-43,920843",30656,1,66,59.0,2.0,0.0
2151,105,20220602214122,"-19,931866","-43,907161",30406,0,636,0.0,2.0,12122.0
2152,105,20220602213044,"-19,885781","-43,893573",20684,0,622,0.0,0.0,695.0

In [40]:
real_time_data = real_time_data.rename(columns=lambda x: x.strip())

In [41]:
real_time_data.columns.values

array(['EV', 'HR', 'LT', 'LG', 'NV', 'VL', 'NL', 'DG', 'SV', 'DT'],
      dtype=object)

In [45]:
bus_data = real_time_data.loc[real_time_data['NL'] == 66]

In [50]:
bus_data

,EV,HR,LT,LG,NV,VL,NL,DG,SV,DT
328,105,20220602213929,"-19,945266","-43,988680",31056,0,66,0.0,0.0,2625.0
613,105,20220602214139,"-19,944923","-43,989029",30792,0,66,0.0,0.0,2628.0
678,105,20220602214109,"-19,892070","-43,936233",30666,26,66,2.0,1.0,13750.0
801,105,20220602213948,"-19,945193","-43,988845",31053,0,66,0.0,0.0,2639.0
958,105,20220602214115,"-19,931296","-43,985175",30793,0,66,0.0,2.0,16748.0
1078,105,20220602214113,"-19,932814","-43,991234",30669,18,66,79.0,1.0,3906.0
1337,105,20220602214048,"-19,945301","-43,988774",31064,0,66,0.0,0.0,2681.0
1395,105,20220602214055,"-19,943951","-43,989339",30787,0,66,0.0,NaN,NaN
1414,105,20220602214053,"-19,945311","-43,988987",30991,0,66,0.0,0.0,2675.0
1580,105,20220602214117,"-19,944227","-43,989640",30795,0,66,0.0,0.0,2740.0
1658,105,20220602214126,"-19,945264","-43,988876",30796,0,66,0.0,0.0,2687.0
1811,105,20220602213918,"-19,945266","-43,988670",30992,0,66,0.0,0.0,19668.0
1812,105,20220602213920,"-19,945258","-43,989162",30990,0,66,0.0,0.0,2754.0
1928,105,20220602213925,"-19,945334","-43,989068",30993,0,66,0.0,0.0,2805.0
2138,105,20220602214117,"-19,850278","-43,927473",30675,5,66,62.0,2.0,1959.0
2150,105,20220602213939,"-19,845679","-43,920843",30656,1,66,59.0,2.0,0.0

In [49]:
for index, row in bus_data.iterrows():
    print(row['LT'])

-19,945266
-19,944923
-19,892070
-19,945193
-19,931296
-19,932814
-19,945301
-19,943951
-19,945311
-19,944227
-19,945264
-19,945266
-19,945258
-19,945334
-19,850278
-19,845679

## Conversion table

In [13]:
conversion_table_rsp = requests.get(conversion_table_url).content
conversion_table = pd.read_csv(io.StringIO(conversion_table_rsp.decode('latin1')), delimiter=';')
conversion_table.head()

   NumeroLinha  Linha                         Nome
0          206  30-01  EST. DIAMANTE/CENTRO-DIRETA
1          256  31-01           JATOBA / HOSPITAIS
2          208  30-03  PARADORA VIA RUA DOS CAETÉS
3          258  31-03           JATOBA / HOSPITAIS
4          209  30-04      ESTACAO DIAMANTE/CENTRO

In [14]:
conversion_data = conversion_table[['NumeroLinha', 'Linha']]

In [15]:
conversion_data = conversion_data.rename(columns={'NumeroLinha':'route_number', 'Linha':'route_id'})

In [16]:
#conversion_data.to_csv('processed/routes_conversion.csv', index=False)

## Plot Map

In [21]:
polygon = 'POLYGON ((-43.9460249999999988 -19.9571809999999985, -43.9463440000000034 -19.9568909999999988, -43.9476519999999979 -19.9577619999999989, -43.9486840000000001 -19.9563600000000001, -43.9494699999999980 -19.9553040000000017, -43.9501369999999980 -19.9553009999999986, -43.9501909999999967 -19.9539709999999992, -43.9500219999999970 -19.9539270000000002, -43.9496889999999993 -19.9539240000000007, -43.9485359999999972 -19.9539119999999990, -43.9477639999999994 -19.9538709999999995, -43.9475959999999972 -19.9539480000000005, -43.9475150000000028 -19.9538110000000017, -43.9470510000000019 -19.9536839999999991, -43.9466409999999996 -19.9542409999999997, -43.9461370000000002 -19.9551440000000007, -43.9456479999999985 -19.9552690000000013, -43.9453859999999992 -19.9547360000000005, -43.9454599999999971 -19.9538979999999988, -43.9455420000000032 -19.9529969999999999, -43.9451979999999978 -19.9521289999999993, -43.9452879999999979 -19.9516700000000000, -43.9454950000000011 -19.9513299999999987, -43.9458950000000002 -19.9511159999999990, -43.9463719999999967 -19.9510760000000005, -43.9465870000000010 -19.9510250000000013, -43.9467039999999969 -19.9508940000000017, -43.9467140000000001 -19.9507569999999994, -43.9468079999999972 -19.9506240000000012, -43.9467769999999973 -19.9505949999999999, -43.9466990000000024 -19.9507310000000011, -43.9466749999999990 -19.9508930000000007, -43.9465509999999995 -19.9510189999999987, -43.9459019999999967 -19.9511010000000013, -43.9454729999999998 -19.9509949999999989, -43.9447860000000006 -19.9514139999999998, -43.9441959999999980 -19.9523060000000001, -43.9445070000000015 -19.9526739999999982, -43.9442499999999967 -19.9539270000000002, -43.9437289999999976 -19.9547780000000010, -43.9441520000000025 -19.9554389999999984, -43.9439429999999973 -19.9556809999999984, -43.9437339999999992 -19.9557269999999995, -43.9434719999999999 -19.9561910000000005, -43.9433859999999967 -19.9566699999999990, -43.9429560000000023 -19.9568760000000012, -43.9419910000000016 -19.9566899999999983, -43.9416579999999968 -19.9571129999999997, -43.9426830000000024 -19.9581569999999999, -43.9437819999999988 -19.9594400000000007, -43.9446780000000032 -19.9606069999999995, -43.9447199999999967 -19.9614289999999990, -43.9442799999999991 -19.9622560000000000, -43.9435069999999968 -19.9626480000000015, -43.9416780000000031 -19.9628210000000017, -43.9409029999999987 -19.9629389999999987, -43.9407050000000012 -19.9630900000000011, -43.9400690000000012 -19.9632490000000011, -43.9398959999999974 -19.9629639999999995, -43.9400580000000005 -19.9628179999999986, -43.9406669999999977 -19.9627370000000006, -43.9412809999999965 -19.9627739999999996, -43.9431319999999985 -19.9625529999999998, -43.9438180000000003 -19.9623969999999993, -43.9443709999999967 -19.9619929999999997, -43.9446610000000035 -19.9612729999999985, -43.9445910000000026 -19.9606220000000008, -43.9436680000000024 -19.9594370000000012, -43.9424610000000015 -19.9582170000000012, -43.9415090000000035 -19.9571749999999994, -43.9405110000000008 -19.9557879999999983, -43.9400809999999993 -19.9550519999999985, -43.9392360000000011 -19.9538219999999988, -43.9388199999999998 -19.9532600000000002, -43.9382570000000001 -19.9524219999999985, -43.9380579999999981 -19.9523539999999997, -43.9378859999999989 -19.9520359999999997, -43.9381040000000027 -19.9518829999999987, -43.9384310000000013 -19.9524250000000016, -43.9389809999999983 -19.9532670000000003, -43.9393990000000016 -19.9538040000000017, -43.9395969999999991 -19.9538599999999988, -43.9404370000000029 -19.9552240000000012, -43.9404669999999982 -19.9541870000000010, -43.9400509999999969 -19.9534860000000016, -43.9397579999999977 -19.9529159999999983, -43.9400750000000002 -19.9522060000000003, -43.9401149999999987 -19.9517489999999995, -43.9395469999999975 -19.9507970000000014, -43.9388440000000031 -19.9502619999999986, -43.9376689999999996 -19.9497520000000002, -43.9372669999999985 -19.9493490000000016, -43.9384459999999990 -19.9492350000000016, -43.9384469999999965 -19.9491590000000016, -43.9379860000000022 -19.9488920000000007, -43.9374040000000008 -19.9485370000000017, -43.9368109999999987 -19.9481740000000016, -43.9369360000000029 -19.9479460000000017, -43.9372260000000026 -19.9476140000000015, -43.9376120000000014 -19.9474799999999988, -43.9380299999999977 -19.9473920000000007, -43.9382480000000015 -19.9481439999999992, -43.9399549999999977 -19.9478110000000015, -43.9393960000000021 -19.9469990000000017, -43.9391660000000002 -19.9462329999999994, -43.9377500000000012 -19.9465800000000009, -43.9368639999999999 -19.9468020000000017, -43.9371579999999966 -19.9477040000000017, -43.9368339999999975 -19.9481709999999985, -43.9374389999999977 -19.9485449999999993, -43.9381020000000007 -19.9489459999999994, -43.9385350000000017 -19.9492060000000002, -43.9388259999999988 -19.9494170000000004, -43.9390799999999970 -19.9492830000000012, -43.9397489999999991 -19.9496590000000005, -43.9402449999999973 -19.9500630000000001, -43.9400520000000014 -19.9503039999999991, -43.9400759999999977 -19.9504370000000009, -43.9402770000000018 -19.9508650000000003, -43.9406960000000026 -19.9514659999999999, -43.9409180000000035 -19.9519720000000014, -43.9410969999999992 -19.9527290000000015, -43.9413089999999968 -19.9533500000000004, -43.9415339999999972 -19.9540630000000014, -43.9416429999999991 -19.9545320000000004, -43.9416900000000012 -19.9548570000000005, -43.9416000000000011 -19.9550149999999995, -43.9415589999999980 -19.9555650000000000, -43.9413869999999989 -19.9555770000000017, -43.9411630000000031 -19.9552189999999996, -43.9408060000000020 -19.9545929999999991, -43.9405789999999996 -19.9542619999999999, -43.9404759999999968 -19.9542220000000015, -43.9404749999999993 -19.9547290000000004, -43.9404460000000014 -19.9553909999999988, -43.9407920000000018 -19.9559339999999992, -43.9409360000000007 -19.9561649999999986, -43.9412390000000030 -19.9565930000000016, -43.9418160000000029 -19.9572170000000000, -43.9426759999999987 -19.9580340000000014, -43.9437039999999968 -19.9592969999999994, -43.9442990000000009 -19.9600299999999997, -43.9444710000000001 -19.9601070000000007, -43.9448059999999998 -19.9606640000000013, -43.9448629999999980 -19.9610669999999999, -43.9450689999999966 -19.9613949999999996, -43.9460509999999971 -19.9615060000000000, -43.9461370000000002 -19.9613140000000016, -43.9458580000000012 -19.9609489999999994, -43.9458550000000017 -19.9599919999999997, -43.9458950000000002 -19.9589500000000015, -43.9454410000000024 -19.9587359999999983, -43.9450310000000002 -19.9584539999999997, -43.9447949999999992 -19.9581979999999994, -43.9449350000000010 -19.9577980000000004, -43.9455359999999970 -19.9575959999999988, -43.9459950000000035 -19.9571849999999991, -43.9460249999999988 -19.9571809999999985))'

In [23]:
polygon = polygon.replace('POLYGON ', '')
polygon

'((-43.9460249999999988 -19.9571809999999985, -43.9463440000000034 -19.9568909999999988, -43.9476519999999979 -19.9577619999999989, -43.9486840000000001 -19.9563600000000001, -43.9494699999999980 -19.9553040000000017, -43.9501369999999980 -19.9553009999999986, -43.9501909999999967 -19.9539709999999992, -43.9500219999999970 -19.9539270000000002, -43.9496889999999993 -19.9539240000000007, -43.9485359999999972 -19.9539119999999990, -43.9477639999999994 -19.9538709999999995, -43.9475959999999972 -19.9539480000000005, -43.9475150000000028 -19.9538110000000017, -43.9470510000000019 -19.9536839999999991, -43.9466409999999996 -19.9542409999999997, -43.9461370000000002 -19.9551440000000007, -43.9456479999999985 -19.9552690000000013, -43.9453859999999992 -19.9547360000000005, -43.9454599999999971 -19.9538979999999988, -43.9455420000000032 -19.9529969999999999, -43.9451979999999978 -19.9521289999999993, -43.9452879999999979 -19.9516700000000000, -43.9454950000000011 -19.9513299999999987, -43.9458950000000002 -19.9511159999999990, -43.9463719999999967 -19.9510760000000005, -43.9465870000000010 -19.9510250000000013, -43.9467039999999969 -19.9508940000000017, -43.9467140000000001 -19.9507569999999994, -43.9468079999999972 -19.9506240000000012, -43.9467769999999973 -19.9505949999999999, -43.9466990000000024 -19.9507310000000011, -43.9466749999999990 -19.9508930000000007, -43.9465509999999995 -19.9510189999999987, -43.9459019999999967 -19.9511010000000013, -43.9454729999999998 -19.9509949999999989, -43.9447860000000006 -19.9514139999999998, -43.9441959999999980 -19.9523060000000001, -43.9445070000000015 -19.9526739999999982, -43.9442499999999967 -19.9539270000000002, -43.9437289999999976 -19.9547780000000010, -43.9441520000000025 -19.9554389999999984, -43.9439429999999973 -19.9556809999999984, -43.9437339999999992 -19.9557269999999995, -43.9434719999999999 -19.9561910000000005, -43.9433859999999967 -19.9566699999999990, -43.9429560000000023 -19.9568760000000012, -43.9419910000000016 -19.9566899999999983, -43.9416579999999968 -19.9571129999999997, -43.9426830000000024 -19.9581569999999999, -43.9437819999999988 -19.9594400000000007, -43.9446780000000032 -19.9606069999999995, -43.9447199999999967 -19.9614289999999990, -43.9442799999999991 -19.9622560000000000, -43.9435069999999968 -19.9626480000000015, -43.9416780000000031 -19.9628210000000017, -43.9409029999999987 -19.9629389999999987, -43.9407050000000012 -19.9630900000000011, -43.9400690000000012 -19.9632490000000011, -43.9398959999999974 -19.9629639999999995, -43.9400580000000005 -19.9628179999999986, -43.9406669999999977 -19.9627370000000006, -43.9412809999999965 -19.9627739999999996, -43.9431319999999985 -19.9625529999999998, -43.9438180000000003 -19.9623969999999993, -43.9443709999999967 -19.9619929999999997, -43.9446610000000035 -19.9612729999999985, -43.9445910000000026 -19.9606220000000008, -43.9436680000000024 -19.9594370000000012, -43.9424610000000015 -19.9582170000000012, -43.9415090000000035 -19.9571749999999994, -43.9405110000000008 -19.9557879999999983, -43.9400809999999993 -19.9550519999999985, -43.9392360000000011 -19.9538219999999988, -43.9388199999999998 -19.9532600000000002, -43.9382570000000001 -19.9524219999999985, -43.9380579999999981 -19.9523539999999997, -43.9378859999999989 -19.9520359999999997, -43.9381040000000027 -19.9518829999999987, -43.9384310000000013 -19.9524250000000016, -43.9389809999999983 -19.9532670000000003, -43.9393990000000016 -19.9538040000000017, -43.9395969999999991 -19.9538599999999988, -43.9404370000000029 -19.9552240000000012, -43.9404669999999982 -19.9541870000000010, -43.9400509999999969 -19.9534860000000016, -43.9397579999999977 -19.9529159999999983, -43.9400750000000002 -19.9522060000000003, -43.9401149999999987 -19.9517489999999995, -43.9395469999999975 -19.9507970000000014, -43.9388440000000031 -19.9502619999999986, -43.9376689999999996 -19.9497520000000002, -43.9372669999999985 -19.9493490000000016, -43.9384459999999990 -19.9492350000000016, -43.9384469999999965 -19.9491590000000016, -43.9379860000000022 -19.9488920000000007, -43.9374040000000008 -19.9485370000000017, -43.9368109999999987 -19.9481740000000016, -43.9369360000000029 -19.9479460000000017, -43.9372260000000026 -19.9476140000000015, -43.9376120000000014 -19.9474799999999988, -43.9380299999999977 -19.9473920000000007, -43.9382480000000015 -19.9481439999999992, -43.9399549999999977 -19.9478110000000015, -43.9393960000000021 -19.9469990000000017, -43.9391660000000002 -19.9462329999999994, -43.9377500000000012 -19.9465800000000009, -43.9368639999999999 -19.9468020000000017, -43.9371579999999966 -19.9477040000000017, -43.9368339999999975 -19.9481709999999985, -43.9374389999999977 -19.9485449999999993, -43.9381020000000007 -19.9489459999999994, -43.9385350000000017 -19.9492060000000002, -43.9388259999999988 -19.9494170000000004, -43.9390799999999970 -19.9492830000000012, -43.9397489999999991 -19.9496590000000005, -43.9402449999999973 -19.9500630000000001, -43.9400520000000014 -19.9503039999999991, -43.9400759999999977 -19.9504370000000009, -43.9402770000000018 -19.9508650000000003, -43.9406960000000026 -19.9514659999999999, -43.9409180000000035 -19.9519720000000014, -43.9410969999999992 -19.9527290000000015, -43.9413089999999968 -19.9533500000000004, -43.9415339999999972 -19.9540630000000014, -43.9416429999999991 -19.9545320000000004, -43.9416900000000012 -19.9548570000000005, -43.9416000000000011 -19.9550149999999995, -43.9415589999999980 -19.9555650000000000, -43.9413869999999989 -19.9555770000000017, -43.9411630000000031 -19.9552189999999996, -43.9408060000000020 -19.9545929999999991, -43.9405789999999996 -19.9542619999999999, -43.9404759999999968 -19.9542220000000015, -43.9404749999999993 -19.9547290000000004, -43.9404460000000014 -19.9553909999999988, -43.9407920000000018 -19.9559339999999992, -43.9409360000000007 -19.9561649999999986, -43.9412390000000030 -19.9565930000000016, -43.9418160000000029 -19.9572170000000000, -43.9426759999999987 -19.9580340000000014, -43.9437039999999968 -19.9592969999999994, -43.9442990000000009 -19.9600299999999997, -43.9444710000000001 -19.9601070000000007, -43.9448059999999998 -19.9606640000000013, -43.9448629999999980 -19.9610669999999999, -43.9450689999999966 -19.9613949999999996, -43.9460509999999971 -19.9615060000000000, -43.9461370000000002 -19.9613140000000016, -43.9458580000000012 -19.9609489999999994, -43.9458550000000017 -19.9599919999999997, -43.9458950000000002 -19.9589500000000015, -43.9454410000000024 -19.9587359999999983, -43.9450310000000002 -19.9584539999999997, -43.9447949999999992 -19.9581979999999994, -43.9449350000000010 -19.9577980000000004, -43.9455359999999970 -19.9575959999999988, -43.9459950000000035 -19.9571849999999991, -43.9460249999999988 -19.9571809999999985))'

In [38]:
import plotly.graph_objs as go
import plotly

data_frame = pd.DataFrame({'lat':[-43.9460249999999988, -43.9501909999999967], 
                           'lng': [-19.9571809999999985, -19.9539709999999992]})

go.Scattermapbox(
    lat=list(data_frame['lat']),
    lon=list(data_frame['lng']),
    mode='lines',
    line=dict(width=2),
    marker=dict(
        size=5,
    ),
    hoverinfo='text',
)

Scattermapbox({
    'hoverinfo': 'text',
    'lat': [-43.946025, -43.950191],
    'line': {'width': 2},
    'lon': [-19.957181, -19.953971],
    'marker': {'size': 5},
    'mode': 'lines'
})